.page-header {
  border-bottom: 1px solid var(--border-header-color);
  border: none;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-btn {
  line-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-btn__opens {
  width: 40px;
  height: 40px;
}

.contact {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 37px;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.contact__list_link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-silver);

  @media screen and (min-width: 768px) {
    @include font(12px, 500, 14px);
  }

  @media screen and (min-width: 1200px) {
    @include font(14px, 500, 16px);
  }

  &:hover,
  &:focus {
    color: var(--button-color);
    transition: var(--transition-animacion);
  }
}

.contact__list_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color-silver);

  .contact__list_link:hover &,
  .contact__list_link:focus & {
    fill: var(--button-color);
    transition: var(--transition-animacion);
  }

  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 14px;
  }

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 16px;
  }
}

.main-nav {
  display: none;
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.open-mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .main-nav__link {
    &.current {
      color: var(--button-color);
    }

    &:hover,
    &:focus {
      color: var(--button-color);
      transition: var(--transition-animacion);
    }

    &.current::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;
      margin-bottom: -1px;
      background-color: var(--button-color);
      border-radius: 2px;
    }
  }
}

@media screen and (min-width: 768px) {
  .main {
    display: block;
  }

  .main-nav {
    display: flex;
    line-height: 1.14;
  }

  .main-nav__list {
    display: flex;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .main-nav__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color-black);
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus {
      color: var(--button-color);
      transition: var(--transition-animacion);
    }
  }
}
