.hero {
  padding: 118px 0px;
  align-items: center;
  text-align: center;
  background-color: var(--background-color-fond-hero);
  background-repeat: no-repeat;

  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  & .hero__subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 360px;

    color: var(--text-color-white);
    @include font(26px, 900, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1200px) {
      width: 696px;
      @include font(44px, 900, 60px);
    }
  }
}

.hero__fons .button_hero {
  font-family: Roboto;
  width: 200px;
  @media screen and (min-width: 1200px) {
    width: 216px;
  }
}

.button__text {
  @extend %center;
  @include font(16px, 700, 30px);
  text-align: center;
  color: var(--text-color-white);
}
