.slogan-list {
   display: flex;
   column-gap: 30px;
   gap: 30px;
   flex-wrap: wrap;
}

.slogan-item {
   flex-basis: calc((100% - 30px) / 2);

   @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
   }

   @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 150px) / 6);
   }
}

.slogan-list-item {
   @extend %center;
   height: 92px;

   background-color: var(--background-color-white);
   border: 1px solid var(--border-coption-color);
   border-radius: 4px;

   &:hover,
   &:focus {
      border: 1px solid var(--button-color);
      transition: var(--transition-animacion);
   }
}

.slogan-list-icon {
   width: 106px;
   height: 59.35px;
   fill: var(--color-icon);

   .slogan-list-item:hover &,
   .slogan-list-item:focus & {
      fill: var(--button-color);
      transition: var(--transition-animacion);
   }
}