.hero {
  padding: 118px 0px;
  align-items: center;
  text-align: center;
  background-color: var(--background-color-fond-hero);
  background-repeat: no-repeat;

  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-size: 480px 400px;
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/fon/hero-480.jpg);
    background-color: var(--background-color-fond-hero);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/fon/hero-480@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-size: 768px 400px;
    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/fon/hero-768.jpg);
    background-color: var(--background-color-fond-hero);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/fon/hero-768@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1199px) {
    background-size: 1600px 600px;

    background-image: linear-gradient(
        to left,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/fon/hero-1200.jpg);
    background-color: var(--background-color-fond-hero);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to left,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/fon/hero-1200@2x.jpg);
    }
  }

  & .hero__subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 360px;

    color: var(--text-color-white);
    @include font(26px, 900, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1200px) {
      width: 696px;
      @include font(44px, 900, 60px);
    }
  }
}

.hero__fons .button_hero {
  font-family: Roboto;
  width: 200px;
  @media screen and (min-width: 1200px) {
    width: 216px;
  }
}

.button__text {
  @extend %center;
  @include font(16px, 700, 30px);
  text-align: center;
  color: var(--text-color-white);
}
