.slogan-list {
   display: flex;
   column-gap: 30px;
}

.slogan-list-item {
   @extend %center;
   width: 170px;
   height: 91px;

   background-color: var(--background-color-white);
   border: 1px solid var(--border-coption-color);
   border-radius: 4px;

   &:hover,
   &:focus {
      border: 1px solid var(--button-color);
      transition: var(--transition-animacion);
   }
}

.slogan-list-icon {
   width: 106px;
   height: 59.35px;
   fill: var(--color-icon);

   .slogan-list-item:hover &,
   .slogan-list-item:focus & {
      fill: var(--button-color);
      transition: var(--transition-animacion);
   }
}