.logo {
  font-family: "Raleway";
  @include font(24px, 700, 28px);
  color: var(--button-color);

  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    @include font(26px, 700, 31px);
  }
}
.logo__black {
  font-family: "Raleway";
  @include font(24px, 700, 28px);
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    @include font(26px, 700, 31px);
  }
}
.logo__white {
  font-family: "Raleway";
  @include font(24px, 700, 28px);
  color: var(--text-color-white);

  @media screen and (min-width: 1200px) {
    @include font(26px, 700, 31px);
  }
}
