.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;

   }
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 95%;
   // height: 100%;
   max-width: 450px;
   background-color: var(--background-color-white);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   padding: 40px;
}

.modal__close-btn {
   position: absolute;
   top: 8px;
   right: 8px;
   @extend %center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   padding: 0;
   background-color: transparent;
   border: 1px solid rgba(0, 0, 0, 0.1);

   &:focus,
   &:hover {
      fill: var(--button-color);
      transition: opacity var(--transition-animacion);
   }
}

.modal__form-title {
   @include font(20px, 700, 23px);
   text-align: center;
   margin-bottom: 12px;
}

.modal-form {
   display: flex;
   flex-direction: column;
}

.modal-form__field {
   margin-bottom: 10px;
}

.modal-form__fiald-desc {
   display: block;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   color: var(--text-color-silver);
   margin-bottom: 4px;
}

.modal-form__input {
   width: 100%;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 42px;
   transition: border-color var(--transition-animacion);

   &:focus {
      border: 1px solid var(--button-color);
      outline: none;
   }
}

.modal-form__input-wrapper {
   position: relative;
   display: block;
}

.modal-form__input-icon {
   display: block;
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);
   transition: background-color var(--transition-animacion);

   .modal-form__input:focus+& {
      fill: var(--button-color);
   }
}

.modal-form__message {
   width: 100%;
   height: 120px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   margin-bottom: 20px;
   padding: 12px 16px;
   resize: none;
   transition: border-color var();

   &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
   }

   &:focus {
      outline: none;
      border-color: var(--button-color);
   }
}

.modal-form__checkbox-icon {
   width: 16px;
   height: 15px;
   background-color: var(--background-color-white);
   border: solid 2px var(--accent-color);
   border-radius: 4px;
   cursor: pointer;
   margin-right: 7px;

   .modal-form__check:checked+& {
      background-color: var(--button-color);
      border-radius: 4px;
      border: solid 2px var(--button-color);
   }

   .modal-form__check:focus+& {
      border: solid 2px var(--button-color);
      border-radius: 4px;
   }
}

.modal-form__checkbox-icon-on {
   display: none;
   width: 11px;
   height: 8px;
   margin-right: 7px;

   .modal-form__check:checked+.modal-form__checkbox-icon & {
      display: block;
      transition: var(--transition-animacion);
   }
}

.modal-form__check-field {
   @extend %center;
   font-size: 12px;
   line-height: 1.16;
   color: var(--text-color-silver);
   margin-bottom: 30px;
   align-items: flex-end;
}

.modal-form-check-field-link {
   font-size: 12px;
   line-height: 1.16;
   text-decoration-line: underline;
   color: var(--button-color);
}

.modal-form-submit,
.footer-form-submit {
   width: 200px;
   background-color: var(--modal-butoon);

   @include font(16px, 700, 30px);
   color: var(--text-color-white);
   margin: 0px auto;
}