:root {
   --background-color-fond-hero: #C4C4C4;
   --background-color-white: #ffffff;
   --background-color-fond: #2F303A;
   --text-color-white: #ffffff;
   --text-color-silver: #757575;
   --text-color-black: #212121;
   --button-color: #2196f3;
   --accent-color: #000000;
   --subject-background-color: #f5f5f5;
   --heading-background-color: #F5F4FA;
   --border-items-color: #eeeeee;
   --border-header-color: #ECECEC;
   --border-coption-color: #AFB1B8;
   --color-icon: #AFB1B8;
   --transition-animacion: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   --modal-butoon: #188CE8;
}